body{
;
}
.cookie{
  position: fixed;
  top: -150px;
  left: -10px;
  z-index: -1;
}

h1{
color: black;
  font-family:"Arial";
  position: absolute;
  top: -30px;
  left: 130px;
}
.quote{
  font-size:25px;
  position: fixed;
  top: 190px;
  left:550px;
  max-width: 500px;
  max-height: 100px;
  color:blue;
  font-family:"Arial";
   
}
p{
  color:blue;
  font-size:10px;
  max-width: 400px;
}
/*.author{
  font-style:italic;
  font-size: 20px;
  font-family:"Arial Black";
  top: 190px;
  left:550px;
  max-width: 500px;
  max-height: 100px;
}*/
.quotes{
  background-color:white;
  width:20%;
  right:200;
  border-color:white;
  border-style:solid;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  height:10;
  font-family:"Arial";
  color:blue;
  max-width: 400px;
}
.quotegenbutton {
  position: fixed;
  right: 550px;
  top: 10px;
}
body {
   position: relative;
   background-color: "#64DAED";
  }